extensions:
	contributteEvents	: Contributte\EventDispatcher\DI\EventDispatcherExtension
	contributteConsole	: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

contributteConsole:
	name: iPublikuj:Packages!
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: null
	lazy: false
	helpers: []